@import url("https://rsms.me/inter/inter.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 28px;
  background-color: #F7FDFD;
  overflow-x: hidden;
}
html * {
  color: #0F3243;
  font-family: "Inter", sans-serif;
}
html h1 {
  font-size: 1.62em;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
html h2 {
  font-size: 1em;
}
html h3 {
  font-size: 0.75em;
}
html p {
  font-size: 0.55em;
  color: #0F3243;
  opacity: 0.87;
}
html .shadow {
  -webkit-box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 6px rgba(238, 245, 251, 0.44), 2px 2px 6px rgba(15, 50, 67, 0.26);
          box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 6px rgba(238, 245, 251, 0.44), 2px 2px 6px rgba(15, 50, 67, 0.26);
}
html #StarsBanner, html #TiresBanner, html #PadsBanner, html #ChainsBanner, html #MainBanner, html #StarsBanner {
  width: 100vw;
  height: 34vw;
  background-position: center;
  background-size: cover;
  margin-bottom: 1em;
}
html #MainBanner {
  background-color: #F7FDFD;
}
html #PadsBanner {
  background-image: url("/static/img/banners/PadsDesktop.jpg");
  background-position: bottom;
}
html #TiresBanner {
  background-image: url("/static/img/banners/TiresDesktop.jpg");
  background-position: bottom;
}
html #ChainsBanner {
  background-image: url("/static/img/banners/ChainsDesktop.jpg");
  background-position: bottom;
}
html #StarsBanner {
  background-image: url("/static/img/banners/StarsDesktop.jpg");
  background-position: bottom;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  max-width: 1440px;
  min-height: 120vh;
  margin: auto;
  padding: 1em 8px;
  margin: 17px auto;
}
.wrapper .orderDone {
  margin-top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.wrapper .orderDone h2 {
  margin-top: 1em;
}
.wrapper .orderDone a {
  margin-top: 1.4em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: #0F3243;
  border: none;
  max-width: 320px;
  width: 94vw;
  padding: 17px 0;
  font-size: 26px;
  color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 4px rgba(238, 245, 251, 0.44), 2px 2px 4px rgba(15, 50, 67, 0.26);
          box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 4px rgba(238, 245, 251, 0.44), 2px 2px 4px rgba(15, 50, 67, 0.26);
}

.popup {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20em;
  width: 20em;
  background-color: #2D4E5F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.4em;
}
.popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15em;
}
.popup form label {
  color: #EEF5FB;
  font-size: 0.8em;
  margin: 10px 0;
  width: 100%;
}
.popup form input {
  padding: 0.8em 1em;
  margin: 8px 0;
  background-color: #EEF5FB;
  border: 1px solid #E3E8ED;
  border-radius: 0.4em;
  font-size: 1em;
  width: 100%;
}
.popup form input:focus {
  outline: none;
  border: 2px solid #B8C2C7;
}
.popup form p {
  color: #EEF5FB;
  padding-top: 0.6em;
  line-height: 1.2em;
}
.popup form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}
.popup form div input[type=submit] {
  width: 44%;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.4em 0.6em;
}
.popup form div input[type=button] {
  width: 44%;
  font-size: 0.8em;
  font-weight: 400;
  background-color: #2D4E5F;
  border: 2px solid #E3E8ED;
  color: #EEF5FB;
  padding: 0.4em 0.6em;
}

header {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
header .hamburger-menu {
  display: none;
}
header a {
  text-decoration: none;
}
header .metaBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E3E8ED;
  height: 40px;
  -webkit-box-shadow: inset 0 -0.4em 0.8em rgba(76, 104, 118, 0.18);
          box-shadow: inset 0 -0.4em 0.8em rgba(76, 104, 118, 0.18);
}
header .metaBar .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  margin: auto;
}
header .metaBar .navBar .navItem {
  font-size: 0.5em;
  font-weight: 600;
  padding: 9px;
}
header .mainBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 74px;
  -webkit-box-shadow: 0 0 1.7em rgba(76, 104, 118, 0.1);
          box-shadow: 0 0 1.7em rgba(76, 104, 118, 0.1);
}
header .mainBar .wrapperBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  margin: auto;
}
header .mainBar .wrapperBar figure {
  padding: 0 9px;
}
header .mainBar .wrapperBar figure a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .mainBar .wrapperBar figure a figure {
  width: 1.6em;
  height: 1.6em;
  background-image: url("/static/svg/logo.svg");
  background-size: cover;
}
header .mainBar .wrapperBar figure a h1 {
  margin-left: 0.4em;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 800;
}
header .mainBar .wrapperBar .menu {
  font-size: 0.6em;
  font-weight: 600;
}
header .mainBar .wrapperBar .menu a {
  padding: 0 9px;
}

main {
  max-width: 1440px;
  margin: auto;
}
main .banner {
  padding: 8em 1em 4em;
}
main .banner h1 {
  font-size: 2.6em;
  font-weight: 800;
  max-width: 1040px;
}
main .banner a.link-with-arrow {
  display: block;
  margin-top: 4em;
  font-size: 0.62em;
  text-decoration: none;
  font-weight: 800;
  color: #1480B6;
}
main .banner a.link-with-arrow svg {
  display: block;
  width: 72px;
  height: 16px;
  margin-bottom: 1rem;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
main .banner a.link-with-arrow path {
  stroke: #1480B6;
}
main .catalog .row {
  margin-bottom: 4em;
}
main .catalog .row div {
  text-align: center;
  font-weight: 600;
}
main .catalog .row div a {
  display: inline-block;
  padding: 2em 6vw;
  text-decoration: none;
}

.ProductImage figure {
  width: 404px;
  height: 653.672px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  -webkit-box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 4px rgba(238, 245, 251, 0.44), 2px 2px 4px rgba(15, 50, 67, 0.26);
          box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 4px rgba(238, 245, 251, 0.44), 2px 2px 4px rgba(15, 50, 67, 0.26);
}

.ProductFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 740px;
  padding-top: 1em;
}
.ProductFilter .PriceRange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
}
.ProductFilter .PriceRange h3 {
  color: #0F3243;
  opacity: 80%;
}
.ProductFilter .ProductFilterBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 740px;
  margin-top: 1em;
}
.ProductFilter .ProductFilterBlock h3 {
  font-weight: 600;
}
.ProductFilter .ProductFilterBlock#ProductPrice .price h4 {
  font-size: 40px;
  font-weight: 600;
}
.ProductFilter .ProductFilterBlock#ProductPrice .price button {
  margin: 17px auto;
  background-color: #0F3243;
  border: none;
  max-width: 320px;
  width: 94vw;
  padding: 17px 0;
  font-size: 26px;
  color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 4px rgba(238, 245, 251, 0.44), 2px 2px 4px rgba(15, 50, 67, 0.26);
          box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 4px rgba(238, 245, 251, 0.44), 2px 2px 4px rgba(15, 50, 67, 0.26);
}
.ProductFilter .ProductFilterBlock .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.ProductFilter .ProductFilterBlock .blocks .row {
  width: 100%;
}
.ProductFilter .ProductFilterBlock .blocks .block {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  max-width: 100%;
  height: 98px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 0;
  margin-top: 17px;
  padding-left: 17px;
  background-color: #F7FDFD;
  -webkit-box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 6px rgba(238, 245, 251, 0.44), 2px 2px 6px rgba(15, 50, 67, 0.26);
          box-shadow: inset -5px -2px 10px rgba(15, 50, 67, 0.08), inset 2px 5px 10px rgba(238, 245, 251, 0.4), -2px -2px 6px rgba(238, 245, 251, 0.44), 2px 2px 6px rgba(15, 50, 67, 0.26);
  border-radius: 17px;
}
.ProductFilter .ProductFilterBlock .blocks .block h4 {
  font-size: 0.75em;
  font-weight: 600;
}
.ProductFilter .ProductFilterBlock .blocks .block:not(:nth-child(4n+1)) {
  margin-left: 17px;
}
.ProductFilter .ProductFilterBlock .blocks .block.active {
  border: 2px solid #1480B6;
  -webkit-box-shadow: inset 5px 2px 8px rgba(20, 128, 182, 0.35), inset -2px -5px 8px rgba(238, 245, 251, 0.8);
          box-shadow: inset 5px 2px 8px rgba(20, 128, 182, 0.35), inset -2px -5px 8px rgba(238, 245, 251, 0.8);
}
.ProductFilter .ProductFilterBlock .blocks #RadiusBlocksFront, .ProductFilter .ProductFilterBlock .blocks #RadiusBlocksBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}
.ProductFilter .ProductFilterBlock .blocks #RadiusBlocksFront .block:not(:nth-child(4n+1)), .ProductFilter .ProductFilterBlock .blocks #RadiusBlocksBack .block:not(:nth-child(4n+1)) {
  margin-left: 0;
}
.ProductFilter .ProductFilterBlock .blocks #RadiusBlocksFront .block:not(:nth-child(2n+1)), .ProductFilter .ProductFilterBlock .blocks #RadiusBlocksBack .block:not(:nth-child(2n+1)) {
  margin-left: 17px;
}
.ProductFilter .ProductFilterBlock .blocks #RadiusBlocksFront.full_radius, .ProductFilter .ProductFilterBlock .blocks #RadiusBlocksBack.full_radius {
  width: 100%;
}
.ProductFilter .ProductFilterBlock .blocks #RadiusBlocksFront.full_radius .block:not(:nth-child(4n+1)), .ProductFilter .ProductFilterBlock .blocks #RadiusBlocksBack.full_radius .block:not(:nth-child(4n+1)) {
  margin-left: 17px;
}

.ProductSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 17em;
  max-width: 15em;
  padding: 0.62em;
}
.ProductSingle figure {
  width: 100%;
  height: 9em;
  border-radius: 4px;
}
.ProductSingle h2 {
  padding: 16px 0 8px 0;
  font-weight: 400;
}
.ProductSingle p {
  height: 3em;
}
.ProductSingle .ActionBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 8px 0;
}
.ProductSingle .ActionBlock .Price {
  font-size: 0.9em;
  font-weight: 600;
}
.ProductSingle .ActionBlock .Price span {
  font-size: 0.7em;
  font-weight: 400;
}
.ProductSingle .ActionBlock .Button {
  width: 40%;
  background-color: #0F3243;
  color: #EEF5FB;
  font-size: 0.8em;
  line-height: 2em;
  font-weight: 500;
  border: 0;
  border-radius: 3px 3px 10px 3px;
}
.ProductSingleFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.62em 0.62em 0;
  margin: 0.4em 0 0.8em;
}
.ProductSingleFilter .Filter {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ProductSingleFilter .FilterBlock {
  text-decoration: none;
  margin: 0.4em 0.16em 0;
  display: inline-block;
  background-color: #EEF5FB;
  padding: 0.2em 0.4em;
  border-radius: 3px 3px 10px 3px;
  border: 1px solid #1480B6;
}

.Pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 300px;
}
.Pagination a {
  display: inline-block;
  width: 1.4em;
  line-height: 1.4em;
  border: 1px solid #0F3243;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  margin: 0 0.2em 0.8em;
}
.Pagination a.active {
  background-color: #0F3243;
  color: #EEF5FB;
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 26px;
  }

  .ProductSingle {
    height: 16em;
  }
  .ProductSingle figure {
    height: 8.2em;
  }
  .ProductSingle .ActionBlock .Price span {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 26px;
  }
  html #StarsBanner, html #TiresBanner, html #PadsBanner, html #ChainsBanner, html #MainBanner, html #StarsBanner {
    height: 40vw;
  }

  .ProductSingle {
    height: 18em;
  }
  .ProductSingle figure {
    height: 11em;
  }
  .ProductSingle .ActionBlock .Price span {
    display: inline-block;
  }

  .wrapper .ProductImage figure {
    display: none;
  }
  .wrapper .ProductFilter {
    margin: 20px auto;
    width: 85vw;
  }
}
@media only screen and (max-width: 992px) {
  .wrapper .ProductImage figure {
    display: none;
  }
  .wrapper .ProductFilter {
    margin: 20px auto;
    width: 90vw;
  }
}
@media only screen and (max-width: 768px) {
  header .mainBar figure {
    width: 2em;
    height: 2em;
    background-image: url("/static/svg/logo.svg");
    background-size: cover;
    margin-left: 0.4em;
  }
  header .mainBar figure h1 {
    display: none;
  }

  html {
    font-size: 24px;
  }

  .ProductSingle {
    height: 60vw;
  }
  .ProductSingle figure {
    height: 35vw;
  }
  .ProductSingle p {
    font-size: 0.6em;
  }
  .ProductSingle .ActionBlock .Price span {
    display: none;
  }

  .wrapper .ProductImage figure {
    display: none;
  }
  .wrapper .ProductFilter {
    margin: 20px auto;
    width: 90vw;
  }
}
@media only screen and (max-width: 576px) {
  .popup {
    height: 100vh;
    width: 100vw;
  }
  .popup form {
    width: 91%;
  }

  main .banner {
    padding: 4em 1em 4em;
  }
  main .banner h1 {
    font-size: calc(1em + 1vw);
    line-height: 1.2em;
    font-weight: 800;
    max-width: 1040px;
  }

  header {
    position: relative;
  }
  header .hamburger-menu {
    display: block;
  }
  header .hamburger-menu #menu__toggle {
    opacity: 0;
    display: none;
  }
  header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  header .hamburger-menu #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  header .hamburger-menu .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 2em;
    right: 0.5em;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 1;
    background-color: #4C6876;
    border-radius: 50%;
  }
  header .hamburger-menu .menu__btn > span {
    display: block;
    position: absolute;
    width: 60%;
    height: 2px;
    margin-left: 20%;
    background-color: #B8C2C7;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  header .hamburger-menu .menu__btn > span::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #B8C2C7;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    content: "";
    top: -6px;
  }
  header .hamburger-menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #B8C2C7;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    content: "";
    top: 6px;
  }
  header .hamburger-menu .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    background-color: #ECEFF1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  header .hamburger-menu .menu__box div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.8em;
  }
  header .hamburger-menu .menu__box div figure {
    width: 4em;
    height: 4em;
    background-image: url("/static/svg/logo.svg");
    background-size: cover;
    margin-left: 0.4em;
  }
  header .hamburger-menu .menu__box div div {
    font-size: 1.4em;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 800;
    padding-left: 0.4em;
    margin-bottom: 0;
  }
  header .hamburger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  header .hamburger-menu .menu__item:hover {
    background-color: #CFD8DC;
  }
  header .mainBar {
    display: none;
  }

  html {
    font-size: 24px;
  }
  html #PadsBanner, html #ChainsBanner, html #TiresBanner, html #MainBanner, html #StarsBanner {
    width: 100%;
    height: 133vw;
  }
  html #ChainsBanner {
    background-image: url("/static/img/banners/ChainsMobile.jpg");
  }
  html #PadsBanner {
    background-image: url("/static/img/banners/PadsMobile.jpg");
  }
  html #TiresBanner {
    background-image: url("/static/img/banners/TiresMobile.jpg");
  }
  html #StarsBanner {
    background-image: url("/static/img/banners/StarsMobile.jpg");
  }
  html h3 {
    font-size: 16px;
  }
  html .wrapper .ProductSingleFilter {
    padding: 0.62em 0 0;
  }
  html .wrapper .ProductSingleFilter .Filter {
    padding-left: 4px;
  }
  html .wrapper .ProductSingleFilter .Filter a {
    margin-left: 0;
  }
  html .wrapper .ProductFilter {
    width: 94vw;
    margin: 0 auto;
    padding-top: 0;
  }
  html .wrapper .ProductFilter h1 {
    padding-left: 0;
    font-size: 1.4em;
    line-height: 1.2em;
  }
  html .wrapper .ProductFilterBlock .blocks .row {
    margin: auto;
  }

  .ProductSingle {
    height: 20em;
    margin: 0 !important;
  }
  .ProductSingle figure {
    height: 11.6em;
  }
  .ProductSingle p {
    height: auto;
    font-size: 0.6em;
  }
  .ProductSingle.chains {
    height: 16em;
  }
  .ProductSingle.chains figure {
    height: 8em;
  }
  .ProductSingle.chains p {
    height: auto;
    font-size: 0.6em;
  }
  .ProductSingle .ActionBlock .Price span {
    display: none;
  }
}
