{{define "header"}}
    <!doctype html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Магазин FullGas</title>
        {{range $key, $value := .Links }}
            <link rel="{{$value.Rel}}" href="{{$value.Href}}">
        {{end}}
    </head>
    <body>
    <div class="popup shadow" id="popup" style="display: none">
        <form id="popupForm" target="_blank" action="" method="POST">
            <label>
                <input type="text" name="firstName" required placeholder="Ваше имя"/>
            </label>
            <label>
                <input type="text" name="phone" required placeholder="Ваш номер телефона"/>
            </label>
            <div>
                <input onclick="hidePopup()" type="button" value="Отмена" />
                <input type="submit" value="Заказать" />
            </div>
            <p>Наш менеджер свяжется с вами в течение часа!) Благодарим за покупку.</p>
        </form>
    </div>
    <header>
        <div class="metaBar">
            <div class="navBar">
                {{range $key, $value := .TopBar }}
                    <a class="navItem" href="{{ $value.Link }}">{{ $value.Name }}</a>
                {{end}}
            </div>
        </div>
        <div class="mainBar">
            <div class="wrapperBar">
                <figure>
                    <a href="/">
                        <figure></figure>
                        <h1>Full Gas moto</h1>
                    </a>
                </figure>
                <div class="menu">
                    {{range $key, $value := .NavBar }}
                        <a href="{{ $value.Link }}">{{ $value.Name }}</a>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>

            <ul class="menu__box">
                <div><figure></figure> <div>FullGas</div></div>
                {{range $key, $value := .NavBar }}
                    <li><a class="menu__item" href="{{ $value.Link }}">{{ $value.Name }}</a></li>
                {{end}}
            </ul>
        </div>
    </header>
{{end}}